* {
  margin: 0;
  padding: 0;
  list-style: none; }

.bigbox {
  width: 100%;
  height: 100%;
  position: fixed; }
  .bigbox .bigmask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    background-image: url(img/x1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(90px);
    opacity: .6; }
  .bigbox .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.35); }

.logobox {
  position: absolute;
  left: 10px;
  top: 26px;
  height: 21px;
  width: 78px;
  background: url("img/player_logo.png") no-repeat center center;
  background-size: 78px 21px; }

.youbox {
  position: absolute;
  right: 20px;
  top: 26px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  cursor: pointer; }
  .youbox:hover {
    color: #fff; }

.smallbox {
  width: 1158px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.zuo {
  width: 23px;
  height: 23px;
  background: pink;
  position: absolute;
  top: 14px;
  left: 30px;
  float: left;
  background: url("img/player_05.png") no-repeat center center;
  background-size: 23px 23px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.4s ease; }
  .zuo:hover {
    opacity: 1; }

.you {
  width: 23px;
  height: 23px;
  background: pink;
  position: absolute;
  top: 14px;
  left: 196px;
  background: url("img/player_07.png") no-repeat center center;
  background-size: 23px 23px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.8s ease; }
  .you:hover {
    opacity: 1; }

.controler {
  width: 100%;
  height: 50px; }

.bofang {
  width: 23px;
  height: 30px;
  background: green;
  position: absolute;
  left: 113px;
  top: 10px;
  background: url("img/player_01.png") no-repeat center center;
  background-size: 23px 30px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.8s ease; }
  .bofang:hover {
    opacity: 1; }

.xinxi {
  width: 400px;
  height: 30px;
  position: absolute;
  top: 3px;
  left: 300px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer; }

.shijian {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 3px;
  left: 700px; }
  .shijian span {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    line-height: 30px; }

.shijianjingdu {
  width: 540px;
  height: 3px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  position: relative;
  margin-top: 32px;
  margin-left: 270px; }
  .shijianjingdu .yuan {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin-top: -2px;
    position: absolute;
    left: 0px;
    cursor: pointer; }

.yinliang {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: url("img/aa.png") no-repeat center center;
  background-size: 32px 32px;
  position: absolute;
  top: 8px;
  left: 930px; }

.yinliangguan {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: url("img/bb.png") no-repeat center center;
  background-size: 32px 32px;
  position: absolute;
  top: 8px;
  left: 930px; }

.jingdu {
  width: 80px;
  height: 3px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1px;
  cursor: pointer;
  position: relative;
  margin-left: 990px;
  margin-top: -12px; }
  .jingdu .yuan {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    margin-top: -2px;
    position: absolute;
    left: 80px;
    cursor: pointer; }

.chunjing {
  width: 74px;
  height: 26px;
  background: url("img/cj1.png") no-repeat center center;
  background-size: 74px 26px;
  position: absolute;
  left: 840px;
  top: 20px;
  cursor: pointer; }

.chunjingguan {
  width: 74px;
  height: 26px;
  background: url("img/cj2.png") no-repeat center center;
  background-size: 74px 26px;
  position: absolute;
  left: 840px;
  top: 20px;
  cursor: pointer; }

.bofang.zanting {
  background: url("img/player_03.png") no-repeat center center;
  background-size: 23px 30px; }

.topbox {
  width: 1158px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  display: block; }

.tbox {
  width: 1158px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  display: none; }

.play-list {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 150px;
  left: 0; }
  .play-list li {
    width: 600px;
    height: 40px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.8s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 40px;
    position: relative; }
    .play-list li:hover {
      color: #fff; }
    .play-list li .list1 {
      width: 16px;
      height: 16px;
      float: left;
      position: absolute;
      left: 10px;
      line-height: 50px; }
      .play-list li .list1 input {
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        background-color: transparent; }
        .play-list li .list1 input:hover {
          border: 1px solid #fff; }
    .play-list li .list2 {
      width: 190px;
      height: 50px;
      float: left;
      position: absolute;
      left: 60px; }
    .play-list li .list3 {
      width: 60px;
      height: 50px;
      float: left;
      position: absolute;
      left: 430px; }
    .play-list li .list4 {
      width: 40px;
      height: 50px;
      float: left;
      position: absolute;
      left: 520px;
      top: 0;
      visibility: visible; }
    .play-list li .list4a {
      width: 36px;
      height: 36px;
      background: url("img/icon_19.png") no-repeat center center;
      background-size: 36px 36px;
      float: left;
      position: absolute;
      left: 520px;
      top: 2px;
      visibility: visible;
      transition: background 1s ease; }
      .play-list li .list4a:hover {
        width: 36px;
        height: 36px;
        background: url("img/icon_20.png") no-repeat center center;
        background-size: 36px 36px; }
    .play-list li .list5 {
      width: 16px;
      height: 50px;
      float: left;
      position: absolute;
      left: 40px;
      line-height: 50px;
      background: url("img/wave.gif") no-repeat center center;
      background-size: 10px 10px;
      visibility: hidden; }
    .play-list li .list6 {
      visibility: visible; }
    .play-list li .listicon {
      width: 180px;
      height: 50px;
      position: absolute;
      left: 250px;
      visibility: hidden; }
      .play-list li .listicon .icon1 {
        width: 36px;
        height: 36px;
        background: url("img/icon_01.png") no-repeat center center;
        background-size: 36px 36px;
        margin-top: 2px;
        margin-right: 8px;
        float: left;
        display: block;
        transition: background 1s ease; }
      .play-list li .listicon .icon1:hover {
        background: url("img/icon_03.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon2:hover {
        background: url("img/icon_08.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon3:hover {
        background: url("img/icon_12.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon4:hover {
        background: url("img/icon_16.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon2 {
        width: 36px;
        height: 36px;
        background: url("img/icon_07.png") no-repeat center center;
        background-size: 36px 36px;
        margin-top: 2px;
        margin-right: 8px;
        float: left;
        display: block;
        transition: background 1s ease; }
      .play-list li .listicon .icon1:hover {
        background: url("img/icon_03.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon2:hover {
        background: url("img/icon_08.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon3:hover {
        background: url("img/icon_12.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon4:hover {
        background: url("img/icon_16.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon3 {
        width: 36px;
        height: 36px;
        background: url("img/icon_11.png") no-repeat center center;
        background-size: 36px 36px;
        margin-top: 2px;
        margin-right: 8px;
        float: left;
        display: block;
        transition: background 1s ease; }
      .play-list li .listicon .icon1:hover {
        background: url("img/icon_03.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon2:hover {
        background: url("img/icon_08.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon3:hover {
        background: url("img/icon_12.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon4:hover {
        background: url("img/icon_16.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon4 {
        width: 36px;
        height: 36px;
        background: url("img/icon_15.png") no-repeat center center;
        background-size: 36px 36px;
        margin-top: 2px;
        margin-right: 8px;
        float: left;
        display: block;
        transition: background 1s ease; }
      .play-list li .listicon .icon1:hover {
        background: url("img/icon_03.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon2:hover {
        background: url("img/icon_08.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon3:hover {
        background: url("img/icon_12.png") no-repeat center center;
        background-size: 36px 36px; }
      .play-list li .listicon .icon4:hover {
        background: url("img/icon_16.png") no-repeat center center;
        background-size: 36px 36px; }

.icon1a {
  width: 36px;
  height: 36px;
  background: url("img/icon_21.png") no-repeat center center;
  background-size: 36px 36px;
  margin-top: 2px;
  margin-right: 8px;
  float: left; }
  .icon1a:hover {
    background: url("img/icon_22.png") no-repeat center center;
    background-size: 36px 36px; }

.playlist {
  width: 600px;
  height: 50px;
  position: relative;
  left: 0;
  top: 100px; }
  .playlist .list1 {
    width: 16px;
    height: 16px;
    float: left;
    position: absolute;
    left: 10px;
    line-height: 50px; }
    .playlist .list1 input {
      width: 16px;
      height: 16px;
      border: 1px solid #ccc;
      background-color: transparent; }
      .playlist .list1 input:hover {
        border: 1px solid #fff; }
  .playlist .list2 {
    width: 60px;
    height: 50px;
    float: left;
    position: absolute;
    left: 62px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8); }
  .playlist .list3 {
    width: 60px;
    height: 50px;
    float: left;
    position: absolute;
    left: 430px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8); }
  .playlist .list4 {
    width: 60px;
    height: 50px;
    float: left;
    position: absolute;
    left: 520px;
    top: 0;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8); }

.shuzi {
  width: 40px;
  hieght: 40px;
  background: red; }

.hh {
  width: 120px;
  height: 36px;
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  position: relative;
  cursor: pointer; }
  .hh .bao {
    width: 80px;
    height: 36px;
    margin: 0 auto;
    position: relative; }
    .hh .bao span {
      display: block;
      width: 40px;
      height: 36px;
      position: absolute;
      left: 30px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      line-height: 36px;
      text-align: center; }
  .hh .shou {
    background: url("img/i3.png") no-repeat center center;
    width: 16px;
    height: 16px;
    float: left;
    line-height: 36px;
    position: absolute;
    top: 10px;
    left: 6px;
    margin-right: 10px; }
  .hh .add {
    background: url("img/i1.png") no-repeat center center;
    width: 16px;
    height: 16px;
    float: left;
    line-height: 36px;
    position: absolute;
    top: 10px;
    left: 6px;
    margin-right: 10px; }
  .hh .download {
    background: url("img/i7.png") no-repeat center center;
    width: 16px;
    height: 16px;
    float: left;
    line-height: 36px;
    position: absolute;
    top: 10px;
    left: 6px;
    margin-right: 10px; }
  .hh .del {
    background: url("img/i5.png") no-repeat center center;
    width: 16px;
    height: 16px;
    float: left;
    line-height: 36px;
    position: absolute;
    top: 10px;
    left: 6px;
    margin-right: 10px; }
  .hh:hover {
    border-color: #fff; }
    .hh:hover span {
      color: #fff; }
    .hh:hover .shou {
      background: url("img/i4.png") no-repeat center center;
      width: 16px;
      height: 16px;
      float: left;
      line-height: 36px;
      position: absolute;
      top: 10px;
      left: 6px;
      margin-right: 10px; }
    .hh:hover .add {
      background: url("img/i2.png") no-repeat center center;
      width: 16px;
      height: 16px;
      float: left;
      line-height: 36px;
      position: absolute;
      top: 10px;
      left: 6px;
      margin-right: 10px; }
    .hh:hover .download {
      background: url("img/i8.png") no-repeat center center;
      width: 16px;
      height: 16px;
      float: left;
      line-height: 36px;
      position: absolute;
      top: 10px;
      left: 6px;
      margin-right: 10px; }
    .hh:hover .del {
      background: url("img/i6.png") no-repeat center center;
      width: 16px;
      height: 16px;
      float: left;
      line-height: 36px;
      position: absolute;
      top: 10px;
      left: 6px;
      margin-right: 10px; }

.right {
  width: 400px;
  height: 470px;
  position: absolute;
  right: 0;
  bottom: 0; }
  .right .picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-left: 100px; }
    .right .picture img {
      width: 200px;
      height: 200px;
      background-size: 200px 200px;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%; }
    .right .picture.imglei {
      animation: zhuan 9s linear 0s infinite both; }

@keyframes zhuan {
  0% {
    transform: rotate3d(0, 0, 0, 360deg); }
  100% {
    transform: rotate3d(0, 0, 1, 360deg); } }
  .right .lycr {
    width: 400px;
    height: 300px;
    margin-top: 5px; }
    .right .lycr .top {
      width: 100%;
      height: 20px;
      font-size: 18px;
      color: #fff;
      text-align: center;
      line-height: 20px;
      margin-top: 20px; }
    .right .lycr .ertop {
      width: 100%;
      height: 20px;
      font-size: 18px;
      color: #fff;
      text-align: center;
      line-height: 20px;
      margin-top: 20px; }
    .right .lycr .lyric-box {
      position: absolute;
      top: 320px;
      bottom: 50px;
      left: 0;
      width: 100%;
      overflow: hidden; }
      .right .lycr .lyric-box .lyric {
        /*position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin:auto;*/
        position: relative;
        width: 100%;
        overflow: hidden;
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        margin-right: -30px;
        overflow-y: auto; }
        .right .lycr .lyric-box .lyric .lyric-inner {
          margin-right: 30px;
          line-height: 34px;
          color: #31c27c;
          width: auto;
          height: 34px;
          text-align: center; }
          .right .lycr .lyric-box .lyric .lyric-inner p {
            text-align: center;
            font-size: 14px;
            color: white;
            width: 100%;
            height: 34px; }

.play-list .ziticolor {
  color: limegreen; }

.player {
  width: 30px;
  height: 25px;
  position: absolute;
  left: 1100px;
  background: red;
  top: 14px;
  cursor: pointer; }

.shunxu {
  width: 27px;
  height: 21px;
  background: url("img/player3.png") no-repeat center center;
  background-size: 27px 21px; }

.danqu {
  width: 27px;
  height: 21px;
  background: url("img/player2.png") no-repeat center center;
  background-size: 27px 21px; }

.suiji {
  width: 27px;
  height: 21px;
  background: url("img/player4.png") no-repeat center center;
  background-size: 27px 21px; }

.gecibox {
  height: 400px;
  width: 500px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  overflow: hidden; }
  .gecibox .geci {
    width: 100%;
    height: 100%; }
    .gecibox .geci p {
      height: 40px;
      color: #fff;
      font-size: 20px;
      text-align: center;
      line-height: 40px; }
      .gecibox .geci p.active {
        color: green;
        font-size: 30px;
        line-height: 40px; }
